{% extends 'app/base.html' %}
{% load static %}


{% block main_content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'app/images/breadcrumb.jpg' %}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="breadcrumb__text">
					<h2>Organi Shop</h2>
					<div class="breadcrumb__option">
						<a href="./index.html">Home</a>
						<span>Contact Us</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 text-center">
				<div class="contact__widget">
					<span class="icon_phone"></span>
					<h4>Phone</h4>
					<p>+01-3-8888-6868</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 text-center">
				<div class="contact__widget">
					<span class="icon_pin_alt"></span>
					<h4>Address</h4>
					<p>60-49 Road 11378 New York</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 text-center">
				<div class="contact__widget">
					<span class="icon_clock_alt"></span>
					<h4>Open time</h4>
					<p>10:00 am to 23:00 pm</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 text-center">
				<div class="contact__widget">
					<span class="icon_mail_alt"></span>
					<h4>Email</h4>
					<p>hello@colorlib.com</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% comment %} <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=bệnh viện trung ương huế&amp;t=&amp;z=11&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://connectionsgame.org/">Connections Game</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div> {% endcomment %}

<div class="map">
	<iframe
		src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Huế&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
		height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	<div class="map-inside">
		<i class="icon_pin"></i>
		<div class="inside-widget">
			<h4>Huế</h4>
			<ul>
				<li>Phone: +12-345-6789</li>
				<li>Add: 16 Creek Ave. Farmingdale, NY</li>
			</ul>
		</div>
	</div>
</div>
<div class="contact-form spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="contact__form__title">
					<h2>Leave Message</h2>
				</div>
			</div>
		</div>
		<form action="#">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<input type="text" placeholder="Your name">
				</div>
				<div class="col-lg-6 col-md-6">
					<input type="text" placeholder="Your Email">
				</div>
				<div class="col-lg-12 text-center">
					<textarea placeholder="Your message"></textarea>
					<button type="submit" class="site-btn">SEND MESSAGE</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock main_content %}