.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #7fad39;
    border-color: #7fad39;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #7fad39;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link:hover {
    color: #7fad39;
}
.page-link:focus {
    color: #7fad39;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(112 205 132 / 78%);
}
.page-link:hover {
    color: #00b307;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
